.RightNav{
	position: absolute;
	right: 0;
	width: 15%;
	height: 93%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 7px;
}

.links{
	display: flex;
	flex-direction: column;
}

.link{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
	margin-top: 1%;
}

.RightNav > h2{
	margin-bottom: 1em;
	color:green;
}