.mainElements{
	border-left:solid 1px black;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	border-radius: 3px 0 0 3px;
	position:fixed;
	right: 0;
	top: 10%;
	width: 30%;
	height: 80%;
	padding: 5px;
	color:black;
}

.elementList{
	display: flex;
	flex-wrap: wrap;
}
