.main-info{
	height: 50vh;
	background-image: url('/public/main-info.jpg');
	color:white;
}

.main-info > h3{
	position:relative;
	left: 10%;
	width:60%;
}

.main-info > h1{
	float: right;
}

.main > h1{
	text-align: center;
	padding: 7px;
	font-size:2em;
}