<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in</title>
	<link rel="stylesheet" href="static/css/form_style.css">
	<link rel='icon' href=''>
	<meta charset="UTF-8">
</head>
<body>
	<form class="form" method="post">
		<span class="error">{{ . }}</span>

		<div class="title">Welcome</div>
		<div class="input-container ic1">
			<input name="username" type="text" id="id_username">
			<div class="cut"></div>
			<label for="id_username" class="placeholder">User name</label>
		</div>
		<div class="input-container ic2">
		<input name="password1" type="pass" id="id_password">
			<div class="cut"></div>
			<label for="id_password" class="placeholder">Password</label>
		</div>
		<div class="input-container ic2">
		<input name="password2" type="pass" id="id_password">
			<div class="cut"></div>
			<label for="id_password" class="placeholder">Password</label>
		</div>
		<div class="input-container ic2">
		<input name="email" type="text" id="id_email">
			<div class="cut"></div>
			<label for="id_email" class="placeholder">Email</label>
		</div>
		<button type="submit" class="submit">Submit</button>
	</form>
</body>
</html>