<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User</title>
	<link rel="stylesheet" href="static/css/user.css">
	<link rel="stylesheet" href="static/css/posts.css">

</head>
<body>
	<button onclick="show_posts()" class="posts_btn">Posts</button>

	<input class="inputMes" type="text">

	<script>
		let postsUrl = "/ajax/posts"
		let chatsUrl = "/ajax/chats"
		let chatMessagesUrl = "/ajax/chatMessages"
		let username = "{{ .UserShow.Username }}"
		let self = {{ .Self }}
		const GetCountAgax = 20
	</script>

	<script type="importmap">
		{
			"imports": {
				"three": "/static/js/three.module.js"
			}
		}
    </script>
	
	<script src='static/js/posts.js'></script>
	<script src='static/js/chat.js'></script>
	<script type="module" src='static/js/user3D.js'></script>
</body>
</html>
